/* Gradient fallbacks */
header {
	background: url('../img/gradient-light-grey.png') repeat-x 0px 0px !important;
}

nav {
	background: url('../img/gradient-purple.png') repeat-x 0px 0px !important;
}

.background.purple {
	background: url('../img/gradient-footer.png') repeat-x 0px 0px !important;
}