/* Gradient fallbacks */
header {
	background: url('../img/gradientLightGrey.png') repeat-x 0px 0px !important;
}

nav {
	background: url('../img/gradientPurple.png') repeat-x 0px 0px !important;
}

.background.purple {
	background: url('../img/gradientFooter.png') repeat-x 0px 0px !important;
}