/* Fallback to non-animated logo */
#banner #logo {
	margin: 0px !important;
}

#logo .fallback {
	display: inline !important;
}

#logo .hi, #logo .dark, #logo .light, #logo .shadow {
	display: none !important;
}



/* Fallback for loader overlay */
#overlay, #wait {
	display: none !important;
}