[submodule "puppet/modules/rvm"]
	path = puppet/modules/rvm
	url = git://github.com/blt04/puppet-rvm.git
[submodule "rails-dev-box"]
	path = rails-dev-box
	url = https://github.com/rails/rails-dev-box.git
