<header>

  <a href="/">
    <i class="header-bitpivot-logo"></i>
  </a>

  <ul class="header-social-icons">
    <li>
      <a class="ss-icon" href="https://www.facebook.com/BitPivot">Facebook</a>
    </li>
    <li>
      <a class="ss-icon" href="https://www.twitter.com/BitPivot">Twitter</a>
    </li>
  </ul>

</header>