header

  a href='/'
    i.header-bitpivot-logo

  ul.header-social-icons
    li
      a.ss-icon href='https://www.facebook.com/BitPivot' Facebook
    li
      a.ss-icon href='https://www.twitter.com/BitPivot' Twitter