<title>BitPivot</title>
<%= favicon_link_tag 'favicon.ico' %>
<%= favicon_link_tag 'apple-touch-icon-144.png', rel: 'apple-touch-icon', type: 'image/png' %>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="BitPivot : Software Development • Web Design • Mobile Apps • Little Rock, Arkansas" />
<meta name="keywords" content="software, development, web design, design, websites, apps, mobile, consulting, arkansas, little rock, central arkansas" />

<%= javascript_include_tag '//use.typekit.net/rri7gyh.js' %>
<script>try{Typekit.load();}catch(e){}</script>

<%= csrf_meta_tags %>