<title>BitPivot</title>
<link rel="shortcut icon" href="https://s3.amazonaws.com/bitpivot-web-assets/favicon.ico" />

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="BitPivot : Software Development • Web Design • Mobile Apps • Little Rock, Arkansas" />
<meta name="keywords" content="software, development, web design, design, websites, apps, mobile, consulting, arkansas, little rock, central arkansas" />

<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/headjs/0.99/head.core.min.js' %>
<%= javascript_include_tag '//use.typekit.net/rri7gyh.js' %>
<script>try{Typekit.load();}catch(e){}</script>

<%= csrf_meta_tags %>