<div id="container">

  <header>
    <a href="http://bitpivot.com"><i class="sprite" id="header-logo"></i></a>

    <ul id="social-links">
      <li id="follow-facebook">
        <a href="http://www.facebook.com/BitPivot" title="Like Us on Facebook"><i class="sprite" id="logo-facebook"></i></a>
      </li>
      <li id="follow-twitter">
        <a href="http://www.twitter.com/BitPivot" title="Follow Us on Twitter"><i class="sprite" id="logo-twitter"></i></a>
      </li>
    </ul>
  </header>

  <section id="banner">

    <%= image_tag "photos/mobile-user.jpg", :id => "banner-image" %>
    <div id="banner-content">
      The world is mobile.<br/>
      Are you?
    </div>

  </section>

  <section id="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisi odio, aliquet vitae porta eget, vulputate sed lorem. Nulla vitae volutpat mi. Suspendisse eleifend, ipsum sit amet sollicitudin vulputate, dolor lacus tincidunt velit, ullamcorper hendrerit nisl arcu quis nulla. Mauris at tristique velit. Fusce consectetur dictum nibh in tincidunt. Sed ultricies iaculis semper. Donec sodales lacinia risus, et interdum velit congue id. Curabitur condimentum pulvinar rhoncus. Sed condimentum nulla eget purus rhoncus id fringilla erat tristique. Sed placerat, erat non eleifend vulputate, lorem dui tempor neque, eu auctor erat nulla vitae quam. Vestibulum consectetur, nisi sit amet tristique adipiscing, velit leo dictum dui, sit amet aliquet sem felis eget metus. Suspendisse eu tortor nec nulla tincidunt luctus. Integer in risus tortor. Aliquam elementum leo sit amet arcu tristique commodo.</p>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi at est tortor. Suspendisse potenti. Suspendisse convallis tincidunt nisi vel tristique. Quisque commodo lacus id augue ultricies quis congue velit adipiscing. Cras consequat tempor semper. Morbi justo leo, vestibulum nec gravida at, mollis eget ligula. Aliquam purus metus, ornare id placerat in, dictum vel urna. Pellentesque sit amet turpis ac lectus eleifend accumsan. Aenean molestie semper suscipit. Aenean sit amet est sed lectus porta mattis.</p>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed adipiscing bibendum mauris eu aliquam. Vestibulum pharetra varius orci a bibendum. In hendrerit metus at elit pretium sed ullamcorper tellus convallis. Ut pharetra, quam vitae lobortis faucibus, magna enim sagittis velit, non tempor mi mauris nec urna. Nullam hendrerit commodo felis, vitae sodales sapien blandit molestie. Proin aliquam erat eget nisl fringilla consectetur. Proin sapien metus, commodo pellentesque porttitor in, convallis vel nunc. Vestibulum sed mi vitae ante pretium viverra in in purus. Suspendisse potenti. Etiam ac justo et est viverra iaculis a et metus. Nam eget tellus lacus, in dictum erat. Ut felis mauris, lacinia vitae lacinia sed, venenatis in diam. Mauris vitae purus sit amet diam commodo convallis sed id metus.</p>
    <p>Nulla ornare sagittis rhoncus. Donec sit amet elit ligula, id pharetra lectus. Vivamus nibh mauris, ultrices at mattis tincidunt, faucibus id lectus. Donec quam est, tempor sit amet blandit sed, accumsan et lorem. Curabitur commodo tortor in turpis volutpat tristique. Maecenas nec risus sit amet arcu ornare ultricies. Donec euismod, dui ac rhoncus venenatis, dui elit suscipit arcu, in mollis velit nunc a mi. Nulla cursus tempor nisi, eget ullamcorper sem convallis eget. Integer dictum pulvinar purus ac aliquam. Curabitur nec diam neque, et convallis velit. Nam sit amet est nulla, id molestie tortor. Aenean id nulla sed purus volutpat convallis vitae sit amet mi. Ut volutpat sollicitudin tortor quis lobortis.</p>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In sit amet dui purus, sit amet tincidunt elit. Aenean lobortis fringilla rhoncus. Sed vel felis nisl, vel consectetur neque. Duis suscipit elit sed lacus aliquet in volutpat tellus iaculis. Sed venenatis velit vitae dolor aliquet rutrum. Donec vel lorem at orci sagittis tristique nec sit amet sem. Mauris ante erat, condimentum quis posuere in, tincidunt in nulla.</p>
  </section>

</div>
