<div id="container">

	<header>
		<a href="http://bitpivot.com"><i class="sprite" id="header-logo"></i></a>

		<ul id="social-links">
			<li id="follow-facebook">
				<a href="http://www.facebook.com/BitPivot" title="Like Us on Facebook"><i class="sprite" id="logo-facebook"></i></a>
			</li>
			<li id="follow-twitter">
				<a href="http://www.twitter.com/BitPivot" title="Follow Us on Twitter"><i class="sprite" id="logo-twitter"></i></a>
			</li>
		</ul>
	</header>

	<section id="banner">

		<div id="banner-content">
			Banner
		</div>

	</section>

	<section id="content">
		Content
	</section>

</div>
