@import mixins



$total-blinds: 4 // TODO Move to global config



.blinds-wrapper
  +position(absolute, $page-header-height, 0, 0, 0)

  +breakpoint('tiny')
    +position(absolute, $page-header-height-tiny, 0, 0, 0)



.blind
  position: absolute
  height: percentage(1 / $total-blinds)
  width: 100%
  overflow: hidden
  +drop-shadow-bottom(10px)
  +transition(all 0.5s ease)

  &.expanded
    position: absolute
    z-index: 99 !important
    +no-drop-shadow

  &.collapsed
    position: absolute !important
    height: $blind-collapsed-height

    +breakpoint('tiny')
      height: $blind-collapsed-height-tiny

  header
    cursor: pointer
    height: $blind-collapsed-height
    line-height: $blind-collapsed-height
    vertical-align: middle
    text-align: center
    +font($blind-collapsed-height * 0.45, $blind-header-text-color, 'pragmatica-extra-light')
    text-shadow: 0px 3px 5px $blind-header-text-shadow-color
    +drop-shadow-bottom(20px)

    +breakpoint('tiny')
      height: $blind-collapsed-height-tiny
      line-height: $blind-collapsed-height-tiny
      +font($blind-collapsed-height-tiny  * 0.5, $blind-header-text-color, 'pragmatica-extra-light')



.blind-banner
  position: relative
  height: $blind-banner-height
  +background-size-cover

  +breakpoint('narrow')
    height: $blind-banner-height-narrow

  +breakpoint('landscape')
    height: $blind-banner-height-narrow

  +breakpoint('tiny')
    height: $blind-banner-height-tiny

  span
    +position(absolute, auto, 0, 0, 0)
    padding: $margin / 2
    +background-rgba-fallback($blind-banner-text-background-color)
    +font($header-font-size, $blind-banner-text-color, 'pragmatica-extra-light')
    text-align: center

    +breakpoint('tiny')
      +font($page-font-size, $blind-banner-text-color, 'pragmatica-extra-light')



.blind-content-area
  +position(absolute, $blind-collapsed-height, 0, 0, 0)
  -webkit-overflow-scrolling: touch
  overflow-y: scroll

  +breakpoint('tiny')
    +position(absolute, $blind-collapsed-height-tiny, 0, 0, 0)



.blind-content
  padding: $margin
  +font($page-font-size, $blind-content-text-color, 'pragmatica-light')
  line-height: $page-line-height

  h1
    +font($header-font-size, $blind-content-header-text-color, 'pragmatica-extra-light')
    line-height: $header-font-size
    +h1-border
    +type-pad-bottom

  h2
    +font($header-font-size * 0.75, $blind-content-header-text-color, 'pragmatica-extra-light')
    line-height: $header-font-size
    +h1-border
    +type-pad-bottom

  p
    text-align: justify
    +type-pad-bottom



.row
  width: 100%
  overflow: auto
  margin: 0 0 $margin 0

  &:last-child
    margin: 0

  .column
    position: relative
    float: left
    width: 50%
    +box-sizing-border-box

    &:nth-child(odd)
      padding: 0 ($margin / 2) 0 0

    &:nth-child(even)
      padding: 0 0 0 ($margin / 2)

    +breakpoint('tiny')
      width: 100%
      margin: 0 0 $margin 0

      &:nth-child(odd)
        padding: 0

      &:nth-child(even)
        padding: 0

      &:last-child
        margin: 0



=blind($class, $index, $header-color, $banner-image, $image-position)
  .blind#{$class}
    top: percentage((1 / $total-blinds) * $index)
    z-index: 100 + ($total-blinds - $index)

  .blind#{$class} header
    +gradient-radial($header-color)

  .blind#{$class} .blind-banner
    background-image: image-url($banner-image)
    background-position: $image-position

+blind('.our-mission',     0, $blind-header-background-color-1, 'splash/mission-background.jpg',     70% 50%)
+blind('.mobile-presence', 1, $blind-header-background-color-2, 'splash/mobile-background.jpg',      50% 50%)
+blind('.consulting',      2, $blind-header-background-color-3, 'splash/integration-background.jpg', 50% 50%)
+blind('.contact-us',      3, $blind-header-background-color-4, 'splash/consulting-background.jpg',  50% 50%)
