@import mixins



html, body
  font-size: 16px
  line-height: 1.4
  +font(16px, $gray-dark, 'helvetica')
  background: darken($white, 24%)

  +breakpoint('tiny')
    font-size: 13px

em
  font-weight: bold



.post
  margin: $margin * 2 auto
  max-width: 1000px
  background: $white

  +link-hover($purple-light, $purple-light)

  &.simple
    padding: $margin * 2

    h1
      +font(26px, $purple-dark, 'helvetica-light')

    p
      margin: $margin 0



.post-area
  padding: $margin * 2

  +breakpoint('tiny')
    padding: $margin



.post-header
  *
    margin-bottom: 5px

  a
    text-decoration: none !important

  h1
    +font(32px, $purple-dark, 'helvetica-light')

  h2
    +font(20px, $purple-dark, 'helvetica-light')
    margin-bottom: $margin


.post-metadata
  margin-bottom: $margin
  padding-bottom: $margin
  +font-size(14px)
  color: $gray-light
  border-bottom: 1px solid darken($white, 10%)

  li
    display: inline
    margin-right: $margin

    +breakpoint('tiny')
    display: block

    &.separator
      display: none



.post-body
  h1, h2, h3
    padding: $margin / 2
    margin: $margin 0
    +font(32px, $white, 'helvetica-light')
    background: $purple-dark

  h1
    +font-size(20px)

  h2
    +font-size(18px)

  h3
    +font-size(16px)

  p
    text-align: justify
    +type-pad-bottom

  pre
    margin: $margin 0
    padding: $margin / 2
    background: darken($white, 6%)
    +font(16px, $gray-dark, 'andale-mono')
    border: 1px solid darken($white, 12%)
    overflow-x: auto
    +type-pad-bottom



.comments
  padding: $margin * 1.5
  background: darken($white, 6%)
  border-top: 1px solid darken($white, 12%)

  +breakpoint('tiny')
    padding: $margin * 0.5

  &.view-comments
    padding: $margin * 2
    text-align: right

    +breakpoint('tiny')
      padding: $margin

  h1
    margin: ($margin / 2) 0 ($margin * 1.5) ($margin / 2)
    +font-size(24px)
    color: $purple-light

    +breakpoint('tiny')
      margin-bottom: $margin

  .no-comments
    padding: $margin / 2

  .comment
    margin-bottom: $margin / 2
    padding: $margin / 2
    background: darken($white, 6%)
    color: $gray-dark

    &:last-child
      margin-bottom: 0

    .comment-header
      +font-size(14px)
      color: $gray-light
      border-bottom: 1px solid darken($white, 12%)

    .has-responses
      border-left: 1px solid darken($white, 12%)

    .comment-content
      padding: $margin ($margin / 2)

      p
        +type-pad-bottom

    .respond-to-link
      padding-left: $margin / 2
      +font-size(14px)

    &.admin
      background: darken($white, 9%)

      em
        color: $purple-light

      > .has-responses
        border-color: darken($white, 15%)

      > .comment-header
        border-color: darken($white, 15%)

  .responses
    padding-left: $margin / 2
    margin-top: $margin



.create-comment
  padding: ($margin * 2)
  background: darken($white, 12%)
  border-top: 1px solid darken($white, 18%)

  +breakpoint('tiny')
    padding: $margin

  h1
    margin-bottom: $margin * 2
    +font-size(24px)
    color: $purple-light

    +breakpoint('tiny')
      margin-bottom: $margin

.respond-to-comment
  padding: ($margin / 2) 0 0 ($margin / 2)
  margin-left: $margin



.create-comment-area
  .input-text
    margin: 0 ($margin / 2) ($margin / 2) 0
    padding: $margin / 4
    +font(16px, $gray-dark, 'helvetica')
    color: $gray-dark
    background: $white
    border: 1px solid darken($white, 18%)
    resize: none
    &.error
      +placeholder-text($red-light)

  .button
    margin: 0
    padding: $margin / 2
    +font(16px, $white, 'helvetica-light')
    background: $purple-dark
    border: none
    cursor: pointer

  .create-comment-author-email
    input
      width: 220px

  .create-comment-content
    textarea
      width: 100%
      height: 80px
      +box-sizing-border-box

      &.error
        +placeholder-text($red-light)