@import mixins



.header
  height: 48px
  line-height: 48px
  background: $black
  border-bottom: 10px solid $purple-dark
  +font(16px, $gray-dark, 'helvetica')
  vertical-align: middle
  z-index: 1000

  +breakpoint('tiny')
    height: 32px
    line-height: 32px
    border-bottom-width: 6px

  a
    color: lighten($gray-dark, 10%)
    text-decoration: none

    &:hover, &:active
      color: $purple-light
      text-decoration: none
      +transition(all 0.5s ease)



.header-bitpivot-logo
  +sprite('header_bitpivot_logo', 220px, 48px)
  cursor: pointer
  float: right

  +breakpoint('tiny')
    +sprite('header_bitpivot_logo_tiny', 147px, 32px)
    float: right



.header-social-icons
  padding-left: 9px

  +breakpoint('tiny')
    padding-left: 5px

  li
    margin-right: $margin
    position: relative
    display: inline
    text-decoration: none
    font-size: 30px
    top: 2px
    vertical-align: middle

    +breakpoint('tiny')
      font-size: 21px
      margin-right: 10px

    .description
      position: relative
      top: -9px
      +font-size(16px)
      margin: 0 ($margin / 2)

      &.short
        display: none

      +breakpoint('narrow')
        display: none

        &.short
          display: inline

      +breakpoint('tiny')
        display: none

        &.short
          display: none