@import mixins



header
  position: relative
  padding: 0
  height: $page-header-height
  line-height: $page-header-height
  background: $header-background-color
  vertical-align: middle
  z-index: 1000
  //+drop-shadow-bottom(10px)

  +breakpoint('tiny')
    height: $page-header-height-tiny
    line-height: $page-header-height-tiny

  a
    color: $header-link-color
    text-decoration: none

    &:hover, &:active
      color: $header-link-color-hover
      text-decoration: none
      +transition(all 0.5s ease)



.header-bitpivot-logo
  +sprite('header-bitpivot-logo', 220px, 48px)
  float: right

  +breakpoint('tiny')
    +sprite('header-bitpivot-logo-tiny', 174px, 38px)
    float: right



.header-social-icons
  float: left
  padding-left: 9px

  +breakpoint('tiny')
    padding-left: 5px

  li
    position: relative
    display: inline
    text-decoration: none
    font-size: 30px
    top: 4px

    +breakpoint('tiny')
      top: 3px
      font-size: 22px
      margin-right: 10px