@import variables



// Breakpoints
=breakpoint($media)
  @if $media == "tiny"
    @media (max-width: $breakpoint-tiny)
      @content

  @if $media == "narrow"
    @media (max-width: $breakpoint-narrow)
      @content

  @if $media == "wide"
    @media (min-width: $breakpoint-narrow + 1)
      @content

  @if $media == "landscape"
    @media screen and (orientation: landscape)
      @content

  @if $media == 'non-retina'
    @media screen and (-webkit-max-device-pixel-ratio: 1)
      @content

  @if $media == 'retina'
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx)
      @content



// Retina capable sprites
=sprite($image, $width, $height, $type: 'png', $retina: true)
  display: block
  float: left
  width: $width
  height: $height
  background: asset-url("#{$image}.#{$type}") top left no-repeat
  background-size: $width $height
  @if $retina == true
    +breakpoint(retina)
      background-image: asset-url("#{$image}@2x.#{$type}")



// Position shorthand
=position($position, $top: false, $right: false, $bottom: false, $left: false)
  position: $position
  @if $top and $right and $bottom and $left
    top: $top
    right: $right
    bottom: $bottom
    left: $left
  @if $top and $right and $bottom and not $left
    top: $top
    right: $right
    bottom: $bottom
    left: $right
  @if $top and $right and not $bottom and not $left
    top: $top
    right: $right
    bottom: $top
    left: $right
  @if $top and not $right and not $bottom and not $left
    top: $top
    right: $top
    bottom: $top
    left: $top



// RGBA with fallback
=background-rgba-fallback($rgba)
  background: rgb(red($rgba), green($rgba), blue($rgba))
  background: $rgba



// Gradients
=gradient-radial($start, $end: false)
  @if not $end
    $end: darken($start, 5%)

  background-image: $start
  background-image: -ms-radial-gradient(center, circle farthest-corner, $start 0%, $end 100%)
  background-image: -moz-radial-gradient(center, circle farthest-corner, $start 0%, $end 100%)
  background-image: -o-radial-gradient(center, circle farthest-corner, $start 0%, $end 100%)
  background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, $start), color-stop(1, $end))
  background-image: -webkit-radial-gradient(center, circle farthest-corner, $start 0%, $end 100%)
  background-image: radial-gradient(circle farthest-corner at center, $start 0%, $end 100%)

=gradient-vertical($start, $end: false)
  @if not $end
    $end: darken($start, 5%)

  background-image: $start
  background-image: -moz-linear-gradient(top,  $start 0%, $end 100%)
  background-image: -webkit-linear-gradient(top,  $start 0%, $end 100%)
  background-image: -o-linear-gradient(top,  $start 0%, $end 100%)
  background-image: -ms-linear-gradient(top,  $start 0%, $end 100%)
  background-image: linear-gradient(to bottom,  $start 0%, $end 100%)



// Drop shadows
=no-drop-shadow()
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none

=drop-shadow($size, $color: rgba(0, 0, 0, 1))
  -webkit-box-shadow: 0px 0px $size $color
  -moz-box-shadow: 0px 0px $size $color
  box-shadow: 0px 0px $size $color

=inner-shadow($size, $color: rgba(0, 0, 0, 1))
  -webkit-box-shadow: inset 0px 0px $size $color
  -moz-box-shadow: inset 0px 0px $size $color
  box-shadow: inset 0px 0px $size $color



// Vendor polyfills
=background-size-cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

=box-sizing-border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box



// Transitions
=transition($transition)
  -webkit-backface-visibility: hidden
  -webkit-perspective: 1000
  -moz-transition: $transition
  -webkit-transition: $transition
  -ms-transition: $transition
  -o-transition: $transition
  transition: $transition



// Font stacks
=font($font-size, $font-color, $font-family: false)
  +font-size($font-size)
  color: $font-color

  @if $font-family == 'helvetica-light'
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-weight: lighter
    font-style: normal

  @if $font-family == 'helvetica'
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-weight: normal
    font-style: normal

  @if $font-family == 'helvetica-bold'
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-weight: bold
    font-style: normal

  @if $font-family == 'andale-mono'
    font-family: 'Andale Mono', AndaleMono, monospace
    font-weight: normal
    font-style: normal



// Font size and REM helper
@function calculate-rem($size)
  $rem-size: $size / 16px
  @return #{$rem-size}rem

=font-size($size)
  font-size: $size // Fallback in px
  font-size: calculate-rem($size)



// Reusable typography / components
=h-border
  padding-bottom: $margin / 4
  border-bottom: $blind-content-header-border-width solid $blind-content-header-border-color

=type-pad-bottom
  margin-bottom: $margin

  &:last-child
    margin-bottom: 0

=placeholder-text($color)
  &::-webkit-input-placeholder
    color: $color

  &:-moz-placeholder
    color: $color

  &::-moz-placeholder
    color: $color

  &:-ms-input-placeholder
    color: $color

=blog-post-header($font-size-modifier)
  padding: $margin / 2
  margin: ($margin * 2) 0
  +gradient-radial($blog-header-background)
  font-size: $blog-header-font-size * $font-size-modifier
  color: $blog-header-text-color
  text-shadow: 0px 3px 5px $blind-header-text-shadow-color
  line-height: $header-font-size
  +type-pad-bottom

=row-column($width)
  width: $width
  padding: 0 $margin 0 0

  &:last-child
    padding: 0

  +breakpoint('tiny')
    width: 100%
    margin: 0 0 $margin 0
    padding: 0 !important // Override nth-child specificity

    &:last-child
      margin: 0

=blind($class, $index, $header-color, $banner-image, $image-position)
  .blind#{$class}
    top: percentage((1 / $total-blinds) * $index)
    z-index: 100 + ($total-blinds - $index)

  .blind#{$class} header
    +gradient-radial($header-color)

    &:hover
      +gradient-radial(lighten($header-color, 1%))
      font-size: $blind-header-font-size * 1.1

      +breakpoint('tiny')
        font-size: $blind-header-font-size-tiny * 1.1

  .blind#{$class}.expanded header
    &:hover
      +gradient-radial($header-color)
      font-size: $blind-header-font-size

      +breakpoint('tiny')
        font-size: $blind-header-font-size-tiny

  .blind#{$class} .blind-banner
    @if $banner-image
      background-image: image-url($banner-image)
      background-position: $image-position