@import 'partials/mixins'



body
  overflow-y: hidden

.blinds-wrapper
  +position(absolute, $page-header-height, 0, 0, 0)
  background: #000

.blinds-area
  +position(relative)
  height: 100%



.blind
  position: relative
  height: 25%

  &.collapsed
    height: $splash-collapsed-height
    overflow: hidden

  &.expanded
    overflow-y: scroll



.blind-banner
  +position(relative)
  height: $splash-expanded-height
  background: #000 no-repeat 50% 50%
  +background-size-cover

  .mission &
    background-image: image-url('splash/mission-background.jpg')
    background-position: 70% 50%

  .mobile &
    background-image: image-url('splash/mobile-background.jpg')

  .integration &
    background-image: image-url('splash/integration-background.jpg')

  .consulting &
    background-image: image-url('splash/consulting-background.jpg')

  h1
    display: block
    height: $splash-collapsed-height
    line-height: $splash-collapsed-height
    vertical-align: middle
    text-align: center
    +font-pragmatica-extra-light
    font-size: 25px
    color: #fff
    background: #f00



.blind-content
  display: none
  color: #fff