@import 'partials/mixins'

body
  overflow-y: hidden

.splash-wrapper
  +position(absolute, $page-header-height, 0, 0, 0)
  background: #000

.splash-area
  +position(relative)
  height: 100%

.splash
  position: relative
  height: 33.333%

  .heading
    width: 100%
    background: black

    span
      color: white
      font-size: 28px

  .overlay
    position: absolute
    width: 100%
    height: 100%
    background: black

  &.mobile
    background: #f00

  &.integration
    background: #0f0

  &.custom
    background: #00f