@import 'partials/mixins'



body
  overflow-y: hidden

.blinds-wrapper
  +position(absolute, $page-header-height, 0, 0, 0)
  background: #000

  +breakpoint('tiny')
    +position(absolute, $page-header-height-tiny, 0, 0, 0)



.blind
  position: relative
  height: 25%
  overflow: hidden
  +drop-shadow-bottom(20px)

  &.our-mission
    z-index: 103

  &.mobile-presence
    z-index: 102

  &.consulting
    z-index: 101

  &.contact-us
    z-index: 100

  &.expanded
    z-index: 99
    +no-drop-shadow()

  &.collapsed
    height: $blind-collapsed-height

    +breakpoint('tiny')
      height: $blind-collapsed-height-tiny

  header
    +position(relative)
    display: block
    cursor: pointer
    height: $blind-collapsed-height
    line-height: $blind-collapsed-height
    vertical-align: middle
    text-align: center
    +font($blind-collapsed-height - ($margin * 1.25), #fff, 'pragmatica-extra-light')
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5)
    z-index: 100
    +drop-shadow-bottom(20px, rgba(0, 0, 0, 1))

    +breakpoint('tiny')
      height: $blind-collapsed-height-tiny
      line-height: $blind-collapsed-height-tiny
      +font($blind-collapsed-height-tiny - ($margin / 1.5), #fff, 'pragmatica-extra-light')

  &.our-mission header
    +gradient-radial($blinds-purple-1)

  &.mobile-presence header
    +gradient-radial($blinds-purple-2)

  &.consulting header
    +gradient-radial($blinds-purple-3)

  &.contact-us header
    +gradient-radial($blinds-purple-4)



.blind-banner
  +position(relative)
  height: $blind-banner-height
  background: #000 no-repeat 50% 50%
  +background-size-cover

  +breakpoint('tiny')
    height: $blind-banner-height-tiny

  .our-mission &
    background-image: image-url('splash/mission-background.jpg')
    background-position: 70% 50%

  .mobile-presence &
    background-image: image-url('splash/mobile-background.jpg')

  .consulting &
    background-image: image-url('splash/integration-background.jpg')

  .contact-us &
    background-image: image-url('splash/consulting-background.jpg')

  span
    display: block
    +position(absolute, auto, 0, 0, 0)
    background: #000
    background: rgba(0, 0, 0, 0.5)
    padding: $margin / 2
    text-align: center
    +font(30px, #fff, 'pragmatica-extra-light')

    +breakpoint('tiny')
      +font(17px, #fff, 'pragmatica-extra-light')



.blind-content-area
  +position(absolute, $blind-collapsed-height, 0, 0, 0)
  -webkit-overflow-scrolling: touch
  overflow-y: scroll

  +breakpoint('tiny')
    +position(absolute, $blind-collapsed-height-tiny, 0, 0, 0)



.blind-content
  padding: $margin
  +font($page-font-size, #aaa, 'pragmatica-light')
  line-height: $page-line-height
  +drop-shadow-inner-bottom(50px)

  h1
    +font(20px, #ddd, 'pragmatica-extra-light')
    line-height: 20px
    +h1-border
    +type-pad-bottom

  h2
    +font(17px, #ddd, 'pragmatica-extra-light')
    line-height: 17px
    +h1-border
    +type-pad-bottom

  p
    +type-pad-bottom