// Page Metrics
$margin: 20px

$page-header-height: 48px
$page-header-height-tiny: 38px

$blind-collapsed-height: 48px
$blind-collapsed-height-tiny: 38px

$blind-banner-height: 450px
$blind-banner-height-tiny: 150px



$page-font-size: 15px
$page-line-height: 20px



// Page colors
$purple-dark: #590059

$blinds-purple-1: $purple-dark
$blinds-purple-2: darken($purple-dark, 4%)
$blinds-purple-3: darken($purple-dark, 8%)
$blinds-purple-4: darken($purple-dark, 12%)



// Page Fonts (from TypeKit with fallbacks)
$font-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif