// Page Metrics
$margin: 20px

$page-header-height: 48px
$page-header-height-tiny: 38px

$blind-collapsed-height: 50px
$blind-banner-height: 450px



// Page Fonts (from TypeKit with fallbacks)
$font-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif