// Overall site layout

html, body
{
	height: 100%;
}



#container {
	height: 100%;

	header {
		background: $header-background;
		color: $header-foreground;
		height: $header-height;

		#social-links {
			list-style: none;

			li {
				float: left;
				margin: ($header-height - $social-links-height) / 2;
			}
		}
	}

	#banner {
		color: $banner-foreground;
		height: $banner-height-landscape;
		@include gradient-vertical($banner-background-start, $banner-background-end, image-url('banner-background-480px.png'));

		.portrait & {
			height: $banner-height-portrait;
		}
	}

}