<div class='post-not-found'>

  <section class='post-not-found-area'>

    <div class='post-not-found-header'>
      <h1>Sorry</h1>

      <h2><%= file_name %> is not a blog post!</h2>
    </div>

  </section>

  <section class='return-to-blog'>
    <%= link_to "Return to Blog", '/blog' %>
  </section>


</div>