article.post

  section.post-area

    .post-header
      - if post.banner_image
        = image_tag post.banner_image, class: 'blog-banner'

      hgroup
        h1 = link_to post.title, post.post_url
        h2 = link_to post.subtitle, post.post_url

    .post-metadata
      ul
        li
          | By #{link_to post.author, post.author_url} on
          = render inline: post.formatted_date

        - if post.approved_comments.length > 0
          li |
          li = link_to "#{post.approved_comments.length} Comment(s)", post.post_url + '#comments'

    .post-body
      == render inline: post.body

  - unless hide_comments
    section#comments.comments
      h1 Discussion

      - if post.approved_comments.length == 0
        span.no-comments There are currently no comments.

      - for comment in post.top_level_comments
        = render partial: 'comment',
          locals: { depth: 1, post: post, comment: comment, respond_to_id: defined?(respond_to_id) ? respond_to_id : nil }

    section.create-comment
      h1 Contribute to this Article
      = render partial: 'create_comment', locals: {post: post, respond_to_id: nil}

  - else
    section.comments.view-comments
      - if post.approved_comments.length > 0
        = link_to "View Comments (#{post.blog_post_comments.length}) or Contribute to this Article \u2192", post.post_url + '#comments'

      - else
        = link_to "Contribute to this Article \u2192", post.post_url + '#comments'