/*
 *= require partials/_reset
 *= require partials/_header
 *= require ss-social-circle
 *= require_self
 */

@import 'partials/markdown'

.post
  width: 800px
  margin-left: auto
  margin-right: auto
  padding: 20px

  .blog-divider
    background: image-url('blog/blog-divider.png') no-repeat center center
    height: 120px
    position: relative
    margin-left: auto
    margin-right: auto