/*
 *= require_self
 *= require reset
 *= require ss-social-circle
 *= require header
 */

@import 'partials/mixins'

.splash
  position: relative
  height: 640px
  background: #000 no-repeat 35% 40%
  background-size: cover

  +respond-to('narrow')
    height: 480px

  +respond-to('tiny')
    height: 320px



.splash-mobile
  background-image: url('splash-mobile-background.jpg')



.splash-text-area
  +position(absolute, auto, 0, $margin, 0)
  padding: 0 $margin
  text-align: center

  img
    max-width: 100%


.content
  height: 480px
  background: #590059