<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="{{ page.keywords }}"/>
    <meta name="author" content="{{ page.author }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {% for stylesheet in page.stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{ stylesheet }}"/>
    {% endfor %}

    {% for head_script in page.head_scripts %}
      <script type="text/javascript" src="{{ head_script }}"></script>
    {% endfor %}
  </head>

  <body>

    {{ content }}

    {% for body_script in page.body_scripts %}
      <script type="text/javascript" src="{{ body_script }}"></script>
    {% endfor %}

  </body>

</html>