doctype html
html lang='en'

  head
    = render 'partials/head_common'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'

    /[if lt IE 10]
      = javascript_include_tag 'application-fallback-ie'
      = stylesheet_link_tag 'application-fallback', media: 'all'

    noscript
      = stylesheet_link_tag 'application-fallback', media: 'all'

  body.transition-preload

    #js-loading-overlay.loading-overlay

    = render 'partials/header'

    == yield